<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energiser Score Board </title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
<h1>School of Code</h1>
<h2>Energiser Score Board</h2>
<img src="https://www.schoolofcode.co.uk/static/logo-51c754388b198e5bbb0d08a971ebbfa2.png" alt="School of Code Logo Image">    
<form action="/action_page.php">
    <label >Name:</label>
    <input type="text" id="fname"><br><br>

    <label  >Bootcamper ID:</label> 
    <input type="text" id="bootcamperID" ><br><br>

    <label  >Date:</label>
    <input type="date" id="date" ><br><br>
    
    <label for="fname">Gartic Score:</label>
    <input type="number" id="garticScore" ><br><br>

    <label for="fname">Scattegories Score:</label>
    <input type="number" id="scattegories" ><br><br>

    <input type="submit" value="Submit">
</form>
<section>
    <button>SHOW LEADER BOARD </button>
</section>

</body>
</html>